{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <div class="alert alert-primary">Réduction 20% sur le produit : {{lastProduit.nom}}</div>
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('app_admin')}}" class="btn btn-success mt-2">Ajouter un produit</a>
    {% endif %}

    <div class="d-flex dlex-row justify-content-around flex-wrap">

        

        {% for produit in listeProduits %}
            <div class=",card" style="width: 18rem;">
                <img class=",card-img-top" src="{{asset('img/'~produit.lienImage)}}" height="150px" alt="image">
                    <div class=",card-body">
                    <h5 class=",card-title">{{produit.nom}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% if produit.reference is not null %}
                                Référence : {{produit.reference.numero}}
                            {% endif %}
                        </li>        
                        <li class="list-group-item">Distributeurs: 
                            {% if produit.distributeurs is not empty %}
                                {% for distributeur in produit.distributeurs %}
                                    {{distributeur.nom}}&nbsp
                                {% endfor %}
                            {% endif %}
                        </li>        
                        <li class="list-group-item">Prix: {{produit.prix}} Euros</li>
                        <li class="list-group-item">
                            {% if produit.rupture %}
                                <strong>Rupture de stock</strong>
                            {% else %}
                                Quantité : {{produit.quantite}}
                            {% endif %}
                        </li>        
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class=",card-body">
                        <a href="{{path('ajoutPanier', {id: produit.id}) }}" class="btn btn-primary">Ajouter au Panier</a>
                        <a href="{{path('update', {id: produit.id}) }}" class="btn btn-warning mt-2">Editer le produit</a>
                        <a href="{{path('delete', {id: produit.id}) }}" class="btn btn-danger mt-2">Supprimer le produit</a>
                    </div>
                    {% endif %}
                    </div>
                    
            </div>
        {% endfor %}
    </div>
{% endblock %}
