        <button>
    <a href="{{path('test')}}" title="vers Test">Vers Test</a>
</button>
<button>
    <a href="{{path('chart')}}" title="vers Chart">Vers Chart</a>
</button>
<button>
    <a href="{{path('redir')}}" title="vers Redir">Vers Redir</a>
</button>
<button>
    <a href="{{path('liste')}}" title="vers Redir">Vers la liste des produits</a>
</button>
<button>
    <a href="{{path('distributeurs')}}" title="vers les distributeur">Vers la liste des Distributeurs</a>
</button>
<button>
    <a href="{{path('app_admin')}}" title="vers app_admin">Vers le Formulaire</a>
</button>
{% if is_granted('ROLE_ADMIN') %}
<button>
    <a href="{{path('panier')}}" title="vers le panier">Vers le panier</a>
</button>
{% endif %}
<button>
    <a href="{{path('register')}}" title="Enregistrement d'un Utilisateur">Vers l'enregistrement d'un Utilisateur</a>
</button>
<button>
    <a href="{{path('app_login')}}" title="Connexion d'un Utilisateur">Vers la connexion d'un Utilisateur</a>
</button>
<p>
    Posté par {{auteur}} le
    <time datetime="27-02-2024">2 Février 2024</p>
</p>